<header>
    <h1>My Tech Blog</h1>
    {{#if loggedIn}}
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </nav>
    {{else}}
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </nav>
    {{/if}}
</header>
